.button {
	border-radius: 0.313em;
	font-weight: 700;
	border: 0;
	padding: 0.75em 1.125em;
	color: #fff;
	font-size: 1em;

	display: inline-block;

	&:hover {
		cursor: pointer;
	}

	&-primary {
		background: $color-primary;

		&-light {
			color: $color-primary;
			background: #fff;
			border: 2px solid $color-primary;
			border-radius: 0.313em;
		}
	}

	&-secondary {
		&-light {
			background: #e6edfa;
			color: $color-secondary;
		}
	}

	&-ghost {
		color: $color-primary;
		background: transparent;
		border: 1px solid $color-separator;
		padding: 1em;
	}

	&-large {
		padding: 1em 2.25em;
		font-size: 1.25em;
	}
}
