.section-intro {
	background-image: url("/assets/dist/images/intro.svg");
	background-repeat: no-repeat;
	background-position: right;
	border-bottom: 1px solid #dddddd;

	.row {
		min-height: 50em;
	}

	.columns {
		display: flex;
		align-items: center;
	}

	.copy {
		max-width: 50em;

		&-text {
			font-weight: 500;
			font-size: 3.5em;
			line-height: 1.1;
			color: #1e3158;
		}

		&-ctl {
			margin-top: 7.625em;
		}
	}

	.btn-default,
	.btn-danger {
		margin: 0.5625em;
	}
}
