// Global settings
$global-layout-gutter: 1.875em;
$global-font-size: 16px;
$global-width: 75em;

// Standart set media queries
$breakpoint-mobile: 30em;
$breakpoint-small: 40em;
$breakpoint-medium: 60em;
$breakpoint-large: 75em;

// Layout
$layout-header-height: 4.375em;

// Colors:
$color-blue: #1e3158;
$color-red: #e41c38;

$color-primary: $color-red; // Red
$color-primary-dark: #000;
$color-secondary: $color-blue; // Blue
$color-secondary-acent: #23365c;
$color-separator: #dddddd;
$color-accent: #000; // Orange
$color-box-trust: #81b5a1;
$color-minor: #7b7b7b;

// Fonts
// sass-lint:disable-all
$font-serif: "Palatino Linotype", "Book Antiqua", Palatino, Georgia,
	"Times New Roman", serif;
// $font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
// 	Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-sans: "SF Pro Display", serif;
$font-heading: $font-sans;
