// Here is your main header stylings. You can modify all other, but in general
// try to keep the header stylings in here.
//
// Menu stylings file be found in components/mobile-menu

.site-header-inner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-branding {
	width: 10em;
}

.site-nav {
	display: flex;
	justify-content: space-between; //no
	align-items: center; // no
	width: 100%; // no
}

.nav-mobile {
	display: none;
}

.nav {
	&-main-item,
	&-side-item {
		list-style-type: none;
	}

	&-main {
		&-item a {
			color: #000;
			padding: 1em;
			display: inline-block;
			font-weight: 500;
		}
	}

	&-side {
		&-item a {
			font-size: 0.875em;
			color: rgba(0, 0, 0, 0.6);
			padding: 1em;
			display: inline-block;
			font-weight: 500;
		}

		.button {
			color: #fff;
			padding: 0.563em 0.75em;
			font-weight: 700;
			margin-left: 0.75em;
		}
	}

	&-items {
		display: flex;
		align-items: center;
	}

	.close {
		display: none;
	}
}

@media all and (max-width: $breakpoint-medium) {
	.site-header {
		position: relative;
	}

	.site-nav {
		flex-flow: wrap;
		flex-direction: column;
	}

	.nav-mobile {
		display: inline-block;
		padding: 0.75em;
	}

	.site-nav {
		position: absolute;
		background: #fff;
		width: 100vw;
		height: calc(100vh - 36px);
		top: 100%;
		left: 0;
		z-index: 100;
		display: none;
		animation: fadeIn ease 0.2s;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.nav-main,
	.nav-side {
		width: 100%;
		.nav-items {
			display: block;
		}
	}

	.nav-main-item a,
	.nav-side-item a {
		display: block;
		padding: $global-layout-gutter;
	}

	.nav-side-item:first-child {
		border-top: 1px solid $color-tetra;
	}

	.nav-side .button {
		margin: 0 $global-layout-gutter;
		margin-bottom: 1.5em;
		text-align: center;
	}

	.open {
		display: flex;
	}

	.overflow {
		overflow: hidden;
	}
}
